body {
	font-family: sans-serif;
	text-align: center;
	margin-top: 50px;
  }
  input, button {
	padding: 10px;
	margin: 10px;
  }
  button {
	background-color: rgb(6, 134, 6);
	color: white;
	border: none;
	border-radius: 10%;
	width: 6vw;
  }

  button:hover
  {
	cursor: pointer;
	background-color: lightgreen;
  }
  input {
	width: 15vw;
  }
  div {
	background-color: gray;
	margin: 20px;
	margin-left: 33vw;
	padding: 20px;
	width: 30vw;
	border-radius: 5%;
	display: block;
  }
  